* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: "Amoria";
  src: url(fonts/AMORIA.otf);
}

@font-face {
  font-family: "Titania";
  src: url(fonts/Titania-Regular.ttf);
}

@font-face {
  font-family: "MarketDeco";
  src: url(fonts/Market_Deco.ttf);
}

h1 {
  font-family: Amoria;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Titania;
}

p,
li,
a {
  font-family: MarketDeco;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.title {
  position: relative;
  top: -10px;
  background-color: #afa2ff;
  padding: 40px;
  width: 75%;
  text-align: center;
  border-radius: 20px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.437);
  color: black;
}

h1 {
  font-size: 45px;
}

navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

a {
  border-bottom: 2px solid #afa2ff;
  border-top: 2px solid #afa2ff;
  width: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 10px 22px #afa2ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 3px solid #afa2ff;
  border-left: 3px solid #afa2ff;
  width: 70%;
  height: auto;
  padding: 5px;
  margin: 30px;
  border-radius: 15px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.infos:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 22px #aea2ffc8;
}

.infos h2 {
  border-bottom: 2px solid #afa2ff;
  width: 75%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 32px;
}

.infos p {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.infos li {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.infos a {
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

footer a {
  margin-right: 20px;
  width: 100px;
  text-align: center;
}

footer img {
  width: 30px;
  height: auto;
  position: relative;
  top: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 426px) {
  header {
    width: 135%;
  }

  main {
    position: relative;
    left: 15%;
  }

  a {
    display: inline-block;
    margin: 5px;
    width: auto;
  }

  .infos {
    width: 400px;
    height: auto;
    position: relative;
    left: 3%;
  }

  footer {
    width: 120%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 4%;
  }
}
